div.press{
    margin: 3rem;
    >a{
        width: 36rem;
        height: 10rem;
        background-color:white;
        display: inline-block;
        text-decoration: none;
        color: rgb(0, 189, 171);
        overflow: hidden;

        >span{
            line-height: 10rem;
            font-size: 3rem;
            display: block;
            text-align: center;
            transition: .3s linear;
        }

    }

    >a:hover span{
            transform: translateY(-10rem);
        
        }
   
}
