section.container-fluid {
    background-color: aliceblue;
}

div.halloffame {


    >div.abovearticle{

        >h1 {
         text-align: center;
         @extend %font-format;
         font-size: 4rem;
         margin: 0;
 
        }

        >p {
            display: block;
           text-align: center;
           @extend %font-format;
           font-size: 2rem;

        }

    }

    div.gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        >article {
            width: 40%;
            flex-direction: row;
            padding: 0;
            margin: 3rem;




            >div.kuleczka {
                width: 8rem;
                height: 8rem;
                background-color: gray;
                border-radius: 50%;

            }

            >div.quote {
                >p {
                    @extend %font-format;
                    font-style: italic;
                    font-size: 2rem;
                }

                >span {
                    @extend %font-format;
                    font-size: 2rem;
                    font-style: oblique;
                }
            }
        }
    }
}