section.container-fluid{
    background-color: aliceblue;
}

div.halloffame{
    display: flex;
    flex-direction: column;

    >div.above article{
        width: 65%;
        justify-content: center;
        
        >h1{
         justify-content: center;
         display: block;
        }

        >p{
            justify-content: center;
            display: block;
        }

    }

div.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    >article{
        width: 40%;
        flex-direction: row;
        padding: 0;

        
        

            >div.kuleczka{
                width: 8rem;
                height: 8rem;
                background-color: gray;
                border-radius: 50%;
                
            }
            >div.quote{
                >p{
                    font-style: italic;
                }

                >span{
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-size: 1rem;
                    font-style: oblique;
                }
            }
        }
    }
}
    
