header.header-top-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 6rem);
    background-color: green;
    margin-top: 6rem;
    background-image: linear-gradient(to right, #3dccbc, #2bc2c0, #23b8c1, #28adc0, #33a2bd);

    .container{
        display: flex;
        

        div:nth-child(1){}

        div:nth-child(2){
            padding-left: 4rem;
            color: #ffffff;
            font-family: 'Raleway',sans-serif;
        }
        h2{
            margin: 0 0 2rem 0;
            font-size: 4rem;
            font-weight: 200;
        }
        p{
            margin: 0;
            font-size: 1.6rem;
            font-weight: 400;
        }
    }
}