html {
  font-size: 10px;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-fluid {
  width: 100%;
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

section.navbar-fluid {
  background-color: #fff;
  position: fixed;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(50, 50, 50, 0.35);
          box-shadow: 0px 3px 7px 0px rgba(50, 50, 50, 0.35);
  top: 0;
  z-index: 999;
}

section.navbar-fluid div.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
}

section.navbar-fluid div.navbar a img {
  height: 4rem;
}

section.navbar-fluid .hidden {
  display: none;
}

header.header-top-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 6rem);
  background-color: green;
  margin-top: 6rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#3dccbc), color-stop(#2bc2c0), color-stop(#23b8c1), color-stop(#28adc0), to(#33a2bd));
  background-image: linear-gradient(to right, #3dccbc, #2bc2c0, #23b8c1, #28adc0, #33a2bd);
}

header.header-top-fluid .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.header-top-fluid .container div:nth-child(2) {
  padding-left: 4rem;
  color: #ffffff;
  font-family: 'Raleway',sans-serif;
}

header.header-top-fluid .container h2 {
  margin: 0 0 2rem 0;
  font-size: 4rem;
  font-weight: 200;
}

header.header-top-fluid .container p {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
}

footer.logos {
  height: 14rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer.logos img {
  margin: 4rem;
}

section.info-fluid {
  height: 80rem;
  padding-top: 3rem;
}

section.info-fluid div.alpha {
  background-color: aliceblue;
  width: 100%;
}

section.info-fluid div.alpha h1 {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 0;
  font-size: 5rem;
}

section.info-fluid div.alpha p {
  text-align: center;
  font-size: 2rem;
}

section.info-fluid div.click {
  margin-top: 3rem;
  margin-bottom: 0;
}

section.info-fluid div.click a {
  display: block;
  height: 5rem;
  font-size: 4rem;
  text-decoration: none;
  color: black;
  background-color: skyblue;
  width: 15%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 1.2rem;
  border: 2px;
  border: black;
}

section.info-fluid div.click a:hover {
  background-color: orange;
}

section.info-fluid div.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

section.info-fluid div.info > article {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 30%;
  background-color: aliceblue;
  -webkit-box-shadow: -5px 6px 61px 12px rgba(50, 111, 122, 0.74);
          box-shadow: -5px 6px 61px 12px rgba(50, 111, 122, 0.74);
  padding: 2rem;
  border-radius: 2%;
  -webkit-transition: .3s;
  transition: .3s;
}

section.info-fluid div.info > article > h3 {
  font-size: 2rem;
}

section.info-fluid div.info > article > h3 span {
  color: darkturquoise;
  font-size: 2rem;
}

section.info-fluid div.info > article > p {
  font-size: 1.5rem;
}

section.info-fluid div.info > article:nth-child(1) {
  position: absolute;
  top: 30rem;
}

section.info-fluid div.info > article:nth-child(2) {
  position: absolute;
  top: 15rem;
  left: 2rem;
}

section.info-fluid div.info > article:nth-child(3) {
  position: absolute;
  top: 15rem;
  right: 2rem;
}

section.info-fluid div.info > article:hover {
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  background-color: lightblue;
}

div.press {
  margin: 3rem;
}

div.press > a {
  width: 36rem;
  height: 10rem;
  background-color: white;
  display: inline-block;
  text-decoration: none;
  color: #00bdab;
  overflow: hidden;
}

div.press > a > span {
  line-height: 10rem;
  font-size: 3rem;
  display: block;
  text-align: center;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

div.press > a:hover span {
  -webkit-transform: translateY(-10rem);
          transform: translateY(-10rem);
}

section.container-fluid {
  background-color: aliceblue;
}

div.halloffame > div.abovearticle {
  padding-top: 3rem;
}

div.halloffame > div.abovearticle > h1 {
  text-align: center;
  font-size: 4rem;
  margin: 0;
}

div.halloffame > div.abovearticle > p {
  display: block;
  text-align: center;
  font-size: 2rem;
}

div.halloffame div.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

div.halloffame div.gallery > article {
  width: 40%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  margin: 3rem;
}

div.halloffame div.gallery > article > div.kuleczka {
  width: 8rem;
  height: 8rem;
  background-color: gray;
  border-radius: 50%;
}

div.halloffame div.gallery > article > div.quote > p {
  font-style: italic;
  font-size: 2rem;
}

div.halloffame div.gallery > article > div.quote > span {
  font-size: 2rem;
  font-style: oblique;
}

section.info-fluid div.alpha h1, section.info-fluid div.alpha p, section.info-fluid div.click a, section.info-fluid div.info > article > h3, section.info-fluid div.info > article > p, div.halloffame > div.abovearticle > h1, div.halloffame > div.abovearticle > p, div.halloffame div.gallery > article > div.quote > p, div.halloffame div.gallery > article > div.quote > span, section.contact-fluid div.titles > div h3, section.contact-fluid div.informations > div:nth-child(1) h3, section.contact-fluid div.informations > div:nth-child(1) p, section.contact-fluid div.informations > div:nth-child(2) > ul.list > li, section.contact-fluid div.informations div.mail a, section.contact-fluid div.footer div, section.products-fluid div.containerproducts > div.catalog > h1, section.products-fluid div.containerproducts > div.catalog p {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

section.contact-fluid {
  background-color: black;
  height: 60rem;
}

section.contact-fluid div.titles {
  background-color: black;
  height: 20rem;
}

section.contact-fluid div.titles > div {
  padding-top: 4rem;
  margin-top: 0;
  border: 2px;
  border-color: white;
}

section.contact-fluid div.titles > div h3 {
  margin-top: 0;
  text-align: center;
  font-size: 4rem;
  color: white;
}

section.contact-fluid div.informations {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 6rem;
}

section.contact-fluid div.informations > div:nth-child(1) {
  width: 24rem;
  height: 16rem;
  margin: 4rem;
}

section.contact-fluid div.informations > div:nth-child(1) h3 {
  font-size: 2rem;
  margin: 1rem;
  color: white;
}

section.contact-fluid div.informations > div:nth-child(1) p {
  font-size: 1rem;
  color: white;
}

section.contact-fluid div.informations > div:nth-child(2) {
  margin: 1rem;
}

section.contact-fluid div.informations > div:nth-child(2) > ul.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section.contact-fluid div.informations > div:nth-child(2) > ul.list > li {
  font-size: 2rem;
}

section.contact-fluid div.informations > div:nth-child(2) > ul.list > li a {
  text-decoration: none;
  color: skyblue;
}

section.contact-fluid div.informations div.mail a {
  font-size: 2rem;
  color: skyblue;
}

section.contact-fluid div.footer {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: black;
}

section.contact-fluid div.footer div {
  color: white;
  font-size: 1rem;
}

section.contact-fluid div.footer div a {
  color: skyblue;
  text-decoration: none;
}

section.products-fluid div.containerproducts {
  padding: 0;
  width: 108rem;
  height: 85rem;
  margin-right: auto;
  margin-left: auto;
}

section.products-fluid div.containerproducts > div.catalog {
  text-align: center;
  width: 108rem;
  height: 20rem;
}

section.products-fluid div.containerproducts > div.catalog > h1 {
  margin-top: 0;
  font-size: 4rem;
}

section.products-fluid div.containerproducts > div.catalog p {
  font-size: 2rem;
}

section.products-fluid div.containerproducts > div.bricks {
  padding: 0;
  width: 108rem;
  height: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.products-fluid div.containerproducts > div.bricks > div:nth-child(1) {
  width: 34rem;
  height: 60rem;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.products-fluid div.containerproducts > div.bricks > div:nth-child(1) > div:first-of-type {
  width: 34rem;
  height: 28rem;
  margin: 0;
  background-color: honeydew;
  padding-bottom: 0;
}

section.products-fluid div.containerproducts > div.bricks > div:nth-child(1) > div:last-of-type {
  width: 34rem;
  height: 28rem;
  margin: 0;
  background-color: rebeccapurple;
}

section.products-fluid div.containerproducts > div.bricks > div:nth-child(2) {
  background-color: aquamarine;
  width: 34rem;
  height: 60rem;
}

section.products-fluid div.containerproducts > div.bricks > div:nth-child(3) {
  width: 34rem;
  height: 60rem;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.products-fluid div.containerproducts > div.bricks > div:nth-child(3) > div:first-of-type {
  width: 34rem;
  height: 28rem;
  margin: 0;
  background-color: darksalmon;
  padding-bottom: 0;
}

section.products-fluid div.containerproducts > div.bricks > div:nth-child(3) > div:last-of-type {
  width: 34rem;
  height: 28rem;
  margin: 0;
  background-color: powderblue;
}
/*# sourceMappingURL=main.css.map */